/*
 * MOD_ICCALENDAR
 * iCagenda by JoomliC
 * Theme Pack Official
 * iC Rounded Theme - module calendar
 *
 * @name		ic_rounded
 * @author		Lyr!C (JoomliC)
 * @version 	3.5.9 2015-07-31
 * @since		1.0
 */


/* Clear Float div */
.ic-clearfix {
	*zoom: 1;
}
.ic-clearfix:before,
.ic-clearfix:after {
	display: table;
	content: "";
	line-height: 0;
}
.ic-clearfix:after {
	clear: both;
}

/*
 * CALENDAR STYLES
 */

/* General Calendar */
.ic_rounded.iccalendar {
	display: block;
	margin: auto;
	padding: 3px;
	border: 3px solid #ddd;
	border-radius: 10px;
	min-width: 150px;
	max-width: 350px;
}

/* General Table */
.ic_rounded.iccalendar .ic-table table {
	padding: 1%;
	margin: 0;
	border: 0;
	border-collapse: collapse;
}
.ic_rounded.iccalendar .ic-table thead {
	font-size: 10px;
	font-weight: 500;
}
.ic_rounded.iccalendar .ic-table th {
	padding: 0;
	margin: 0;
	text-align: center;
	border: 0;
}
.ic_rounded.iccalendar .ic-table tr {
	padding: 0;
	margin: 0;
	border: 0;
}


/*
 * DAYS STYLES
 */

/* General */
.ic_rounded.iccalendar .ic-table td {
	padding: 3px;
	margin: 0;
	border: 0;
}
.ic_rounded.iccalendar .ic-table td div {
	text-align: center;
	font-size: 10px;
	border-radius: 3px;
	line-height: 20px;
	border: none;
	width: auto;
}

/* Styles for days (today or else) */
.ic_rounded.iccalendar div.style_Today {
	border: 1px;
	border-color: #777;
	line-height: 18px;
	border-style: solid;
	font-size: 12px;
	font-weight: bold;
	text-shadow: 0px 0px 10px #777;
	box-shadow: 0px 0px 5px #999;
}
.ic_rounded.iccalendar div.style_Day {
	border: none;
}

/* In case of no event */
.ic_rounded.iccalendar .no-event {
}

/* In case of event */
.ic_rounded.iccalendar .icevent a {
	display: block;
	text-align: center;
	height: 100%;
	color: #fff;
	text-decoration: none;
}

/* Dark background */
.ic-dark {
	color: #fff !important;
}
/* Bright background */
.ic-bright {
	color: #111 !important;
}
.ic_rounded.iccalendar .icevent a .ic-bright {
	display: block;
	text-align: center;
	height: 100%;
	color: #111;
	text-decoration: none;
}

/* In case of multi-event day */
.ic_rounded.iccalendar .icmulti a {
	background: url(../images/plus.png) top right no-repeat;
	display: block;
	text-align: center;
	height: 100%;
	color: #fff;
	text-decoration: none;
	border-radius: 3px;
}

/* In case of multi-event day (bright background) */
.ic_rounded.iccalendar .icmulti a .bright {
	background: url(../images/plus.png) top right no-repeat;
	display: block;
	text-align: center;
	height: 100%;
	color: #111;
	text-decoration: none;
	border-radius: 3px;
}

/* Loading... */
.ic_rounded.iccalendar .icloading_box {
	display: block;
	height: 172px;
	font-size: 10px;
}
.ic_rounded.iccalendar .icloading_img {
	display: block;
	width: 100%;
	height: 172px;
	background: url(../images/ic_load.gif) 50% 50% no-repeat;
}


/*
 * SCRIPT FUNCTION (Dates with event)
 */

/* General */
.ic_rounded .icevent,
.ic_rounded .icmulti {}

/* Text (Don't modify it!) */
.ic_rounded .icevent .spanEv,
.ic_rounded .icmulti .spanEv {
	display: none !important; /* !important to prevent issue with stupid site templates... */
}

/* Date (Don't modify it!) */
.ic_rounded .icevent .date,
.ic_rounded .icmulti .date {
	display: none !important; /* !important to prevent issue with stupid site templates... */
}

/* Link */
.ic_rounded .icevent a,
.ic_rounded .icmulti a {
	cursor: pointer;
}


/*
 * NAVIGATOR
 */

/* Arrows General */
.ic_rounded .icagendabtn {
	font-family: arial;
}

/* Navigator General */
.ic_rounded .icnav {
	font-size: 10px;
	padding: 0px;
	margin: 0px;
	min-height: 24px;
}

/* Arrows General */
.ic_rounded .icnav .backicY,
.ic_rounded .icnav .backic,
.ic_rounded .icnav .nextic,
.ic_rounded .icnav .nexticY {
	display: block;
	text-decoration: none;
	color: #555555;
}

/* Arrows Back Month and Year (Left) */
.ic_rounded .icnav .backic,
.ic_rounded .icnav .backicY {
	float: left
}

/* Arrows Next Month and Year (Right) */
.ic_rounded .icnav .nextic,
.ic_rounded .icnav .nexticY {
	float: right
}

/* Arrows Back and Next - Month */
.ic_rounded .icnav .backic,
.ic_rounded .icnav .nextic {
	background: none;
	font-size: 12px;
	width: auto;
	cursor: pointer;
}

/* Arrows Back and Next - Year */
.ic_rounded .icnav .backicY,
.ic_rounded .icnav .nexticY {
	background: none;
	font-size: 12px;
	width: auto;
	cursor: pointer;
}

/* Arrows General Button Style */
.ic_rounded .icnav .backic,
.ic_rounded .icnav .nextic,
.ic_rounded .icnav .backicY,
.ic_rounded .icnav .nexticY {
	border: 1px solid #ccc;
	border-radius: 3px;
	line-height: 12px;
	margin: 0;
	padding: 2px 0;
	text-align: center;
	vertical-align: middle;
	width: 12%;
}
.ic_rounded .icnav .backic,
.ic_rounded .icnav .backicY {
	margin-right: 3px;
}

.ic_rounded .icnav .nextic,
.ic_rounded .icnav .nexticY {
	margin-left: 3px;
}

/* Arrows General Hover */
.ic_rounded .icnav .backicY:hover,
.ic_rounded .icnav .backic:hover,
.ic_rounded .icnav .nextic:hover,
.ic_rounded .icnav .nexticY:hover {
	display: block;
	text-decoration: none;
	border: 1px solid #999999;
	color: #333333;
}

/* Navigator Title (month and year) */
.ic_rounded .icnav .titleic {
	font-size: 12px;
	text-align: center;
	width: auto;
}


/*
 * INFO TIP
 */

/* General */
#ictip {
	color: #333333;
	font-family: arial;
	text-align: left;
	background: #f3f3f3;
	border: 5px solid #ccc;
	margin: 4px 10px;
	padding: 15px;
	width: auto;
	min-width: 320px;
	border-radius: 10px;
	z-index: 10000;
	-webkit-box-shadow: 2px 2px 4px #999;
	-moz-box-shadow: 2px 2px 4px #999;
	box-shadow: 2px 2px 4px #999;
	max-height: 100%;
	overflow-y: auto;
}
#ictip .ictip-event {
	display: block;
	float: left;
	width: 100%;
	padding: 15px 0;
	border-top: 1px solid #eee;
}
#ictip span {
	margin: 10px;
	font-size: 0.8em;
}
#ictip a {
	display: block;
	font-size: 1.2em;
	text-decoration: none;
	background: none;
}

/* Date Header */
#ictip .ictip-date {
}
#ictip span.ictip-date-lbl {
	font-variant: small-caps;
}
#ictip span.ictip-date-format {
	font-size: 1em;
}

/* Close "X" */
#ictip a.close {
	position: absolute;
	display: block;
	width: auto;
	top: 15px;
	right: 15px;
	color: red;
	text-decoration: none !important;
}
#ictip a.close:hover {
	background: none !important;
	color: black;
	cursor: pointer;
}

/* Event Div */
#ictip div.linkTo {
	color: #333;
	background: none;
	text-decoration: none;
	transition: all 0.5s;
	-moz-transition: all 0.5s;
	-webkit-transition: all 0.5s;
	-o-transition: all 0.5s;
}
#ictip div.linkTo:hover {
	color: #111;
	background: rgba(0,0,0,0.1);
	background-color: rgba(0,0,0,0.1);
	border-radius: 5px;
}

/* Contener of the image */
#ictip span.img {
	display: block;
	width: 100px;
	float: left;
	text-align: center;
	padding: 5px;
	border-radius: 3px;
	box-sizing: content-box;
}

/* Image Thumb */
#ictip span.img img {
	max-width: 100px;
	border: 0px solid #ccc;
	border-radius: 3px;
	opacity: 1 !important; /* Added due to override of some site templates (Shape5 vertex, ...) */
}

/* no-image */
#ictip div.noimg {
	color: #FFFFFF;
	font-size: 10px;
	text-align: center;
	padding: 5px;
}
#ictip .bright {
	color: #111111 !important;
}

/* Event Title */
#ictip .ictip-event-title {
	display: block;
	min-width: 200px;
	font-weight: bold;
	margin-top: 10px;
	padding: 5px;
}

/* Event Info */
#ictip .ictip-info {
	display: block;
	min-width: 200px;
	font-size: 12px;
	padding: 0 8px 2px 8px;
}
#ictip .ictip-time {
	font-size: 14px;
	padding: 0 8px;
}
#ictip .ictip-location {
	font-size: 12px;
	padding: 0 8px 3px 8px;
}
#ictip .ictip-desc {
	font-size: 12px;
	color: #555;
	line-height: 14px;
}

/* Contener of the description */
#ictip span.bloc {
	display: block;
	width: 300px;
	float: left;
	margin: 3px;
}

/* Registration Infos */
#ictip div.ic-reg-buttons {
	text-align: center;
	padding: 7px 1px;
}
#ictip span.iCreg {
	display: inline-block;
	font-size: 11px;
	margin: 0 3px;
	padding: 1px 5px;
	text-align: center;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	-o-border-radius: 5px;
	border-radius: 5px;
	box-shadow: 0px 0px 1px #333;
/*	cursor: pointer; */
}
#ictip span.iCreg.available,
#ictip span.iCreg.closed {
	color: black;
	background: white;
}
#ictip span.iCreg.ticketsleft {
	color: #fff;
	text-shadow: 0 -1px 0 rgba(0,0,0,0.25);
	background-color: #5bb75b;
	background-image: -moz-linear-gradient(top,#62c462,#51a351);
	background-image: -webkit-gradient(linear,0 0,0 100%,from(#62c462),to(#51a351));
	background-image: -webkit-linear-gradient(top,#62c462,#51a351);
	background-image: -o-linear-gradient(top,#62c462,#51a351);
	background-image: linear-gradient(to bottom,#62c462,#51a351);
	background-repeat: repeat-x;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff62c462', endColorstr='#ff51a351', GradientType=0);
	border-color: #51a351 #51a351 #387038;
	*background-color: #51a351;
	filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
}
#ictip span.iCreg.registered {
	color: #fff;
	text-shadow: 0 -1px 0 rgba(0,0,0,0.25);
	background-color: #1d6cb0;
	background-image: -moz-linear-gradient(top,#2384d3,#15497c);
	background-image: -webkit-gradient(linear,0 0,0 100%,from(#2384d3),to(#15497c));
	background-image: -webkit-linear-gradient(top,#2384d3,#15497c);
	background-image: -o-linear-gradient(top,#2384d3,#15497c);
	background-image: linear-gradient(to bottom,#2384d3,#15497c);
	background-repeat: repeat-x;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff2384d3', endColorstr='#ff15497c', GradientType=0);
	border-color: #15497c #15497c #0a223b;
	border-color: rgba(0,0,0,0.1) rgba(0,0,0,0.1) rgba(0,0,0,0.25);
	*background-color: #15497c;
	filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
}

/* End function clear <div> */
#ictip .clr {clear:both; display:block;}

/* Features */
#ictip .ic-features-container {
	margin: 2px;
}
#ictip .ic-feature-icon {
	float: right;
	margin: 0px 0.5px;
}

/* Messages Info */
.ic-msg-no-event {
	font-size: 0.8em;
	text-align: center;
}
