/*
 * MOD_ICCALENDAR
 * iCagenda by JoomliC
 * Theme Pack Official
 * iC Rounded Theme - module calendar
 *
 * @name		ic_rounded - RTL
 * @author		Lyr!C (JoomliC)
 * @version 	3.4.0 2014-12-01
 * @since		3.4.0
 */


#ictip {
	text-align: right;
}
#ictip span.bloc {
	float: right;
}
#ictip a.close {
	right: auto;
	left: 15px;
}
#ictip span.img {
	float: right;
}

/* Features */
#ictip .ic-feature-icon {
	float: left;
}
